body{
    padding: 100px 50px;
    background-color: rgb(97, 70, 70);
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
}

#textbox{
    width: 99.6%;
}

p{
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0;
}

